*,
::after,
::before {
    box-sizing: border-box;
}

a,
[type="button"],
[type="reset"],
[type="submit"],
button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
    &:not(:disabled) {
        cursor: pointer;
    }

    &:disabled {
        cursor: not-allowed;
    }
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--hyper-color-primary);

    &:hover {
        text-decoration: underline;
        color: var(--hyper-color-primary-tint);
    }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    color: var(--hyper-color-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5rem;
}
