.hyper-breadcrumb {
    --hyper-breadcrumb-separator: "/";
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.hyper-breadcrumb-item {
    &.active {
        color: var(--hyper-color-dark);
        pointer-events: none;

        * {
            color: var(--hyper-color-dark);
        }
    }

    &:not(:first-child)::before {
        content: var(--hyper-breadcrumb-separator);
        padding: 0 0.375em;
        color: var(--hyper-color-medium);
    }
}
