@import "variables";

.hyper-btn {
    --hyper-btn-border-radius: 0.75rem;
    --hyper-btn-border-width: 0.1rem;
    --hyper-btn-box-shadow-width: 0.2rem;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: var(--hyper-btn-border-width) solid transparent;
    border-radius: var(--hyper-btn-border-radius);
    transition: box-shadow 0.25s ease-in, background-color 0.25s ease-in-out, color 0.25s ease-in-out;

    &:focus {
        outline: none;
    }

    &:not(:disabled):not(.disabled):not(.loading) {
        cursor: pointer;
    }

    &:disabled,
    &.disabled,
    &.loading {
        opacity: 0.65;
    }

    &.loading {
        cursor: wait;
    }

    &:disabled,
    &.disabled {
        cursor: not-allowed;
    }

    &.hyper-btn-sharp {
        --hyper-btn-border-radius: 0;
    }

    &.hyper-btn-pill {
        --hyper-btn-border-radius: 99rem;
    }

    &.hyper-btn-block {
        display: flex;
        width: 100%;
    }

    &.hyper-btn-outline,
    &.hyper-btn-dashed {
        background-color: transparent;
    }

    &.hyper-btn-dashed {
        border-style: dashed;
    }

    &.hyper-btn-link {
        &:hover {
            text-decoration: underline;
        }
    }

    &.hyper-btn-sm {
        --hyper-btn-border-radius: 0.5rem;
        --hyper-btn-border-width: 0.075rem;
        --hyper-btn-box-shadow-width: 0.15rem;

        padding: 0.25rem 0.5rem;
        font-size: 0.75rem;
    }

    &.hyper-btn-lg {
        --hyper-btn-border-radius: 1rem;
        --hyper-btn-border-width: 0.125rem;

        padding: 0.425rem 1.125rem;
        font-size: 1.25rem;
    }
}

a.hyper-btn {
    text-decoration: none;
}

@each $color-name, $color-map in $colors {
    .hyper-btn-#{$color-name} {
        color: var(--hyper-color-#{$color-name}-contrast);
        background-color: var(--hyper-color-#{$color-name});

        &:not(:disabled):not(.disabled):not(.loading) {
            &:active:not(.hyper-btn-text):not(.hyper-btn-link),
            &.active:not(.hyper-btn-text):not(.hyper-btn-link) {
                box-shadow: 0 0 0 var(--hyper-btn-box-shadow-width) rgba(var(--hyper-color-#{$color-name}-rgb), 0.5);
            }

            &:not(.hyper-btn-text):not(.hyper-btn-link):hover {
                background-color: var(--hyper-color-#{$color-name}-tint);
            }

            &:not(.hyper-btn-text):not(.hyper-btn-link):focus {
                background-color: var(--hyper-color-#{$color-name}-shade);
            }
        }

        &.hyper-btn-text,
        &.hyper-btn-link {
            color: var(--hyper-color-#{$color-name});
            background-color: transparent;

            &:not(:disabled):not(.disabled):not(.loading) {
                &:hover {
                    color: var(--hyper-color-#{$color-name}-tint);
                }

                &:focus {
                    color: var(--hyper-color-#{$color-name}-shade);
                }
            }
        }

        &.hyper-btn-outline,
        &.hyper-btn-dashed {
            color: var(--hyper-color-#{$color-name});
            border-color: var(--hyper-color-#{$color-name});

            &:not(:disabled):not(.disabled):not(.loading) {
                &:hover {
                    color: var(--hyper-color-#{$color-name}-contrast);
                }

                &:focus {
                    color: var(--hyper-color-#{$color-name}-contrast);
                }
            }
        }
    }
}

.hyper-btn-group {
    display: inline-flex;

    .hyper-btn:not(.hyper-btn-sharp) {
        border-radius: 0;

        &:first-child {
            border-radius: var(--hyper-btn-border-radius) 0 0 var(--hyper-btn-border-radius);
        }

        &:last-child {
            border-radius: 0 var(--hyper-btn-border-radius) var(--hyper-btn-border-radius) 0;
        }
    }

    .hyper-btn-outline,
    .hyper-btn-dashed {
        &:not(:last-child) {
            border-right-width: 0;
        }
    }
}
