.hyper-row {
    display: flex;
    flex-flow: row wrap;
}

.hyper-col-0 {
    display: none;
}

@for $i from 1 through 24 {
    .hyper-col-#{$i} {
        $percentage: 100% / (24 / $i);

        display: block;
        flex: 0 0 #{$percentage};
        max-width: #{$percentage};
    }
}
