@function box-shadow($color) {
    @return 0 0 0 0.2rem rgba($color, 0.5);
}

a.hyper-btn {
    text-decoration: none;
}

.hyper-btn {
    --hyper-btn-border-radius: 0.75rem;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 0.1rem solid transparent;
    border-radius: var(--hyper-btn-border-radius);
    transition: box-shadow 0.25s ease-in, background-color 0.25s ease-in-out, color 0.25s ease-in-out;

    &:focus {
        outline: none;
    }

    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    &:disabled,
    &.disabled {
        cursor: not-allowed;
        opacity: 0.65;
    }

    &.hyper-btn-outline,
    &.hyper-btn-dashed {
        background-color: transparent;
    }

    &.hyper-btn-dashed {
        border-style: dashed;
    }
}

.hyper-btn-sharp {
    --hyper-btn-border-radius: 0;
}

.hyper-btn-block {
    display: flex;
    width: 100%;
}

@each $color in red, volcano, orange, gold, yellow, green, lime, cyan, blue, navy, purple, magenta, dark, gray, light {
    .hyper-btn-#{$color} {
        color: var(--hyper-color-#{$color}-contrast);
        background-color: var(--hyper-color-#{$color});

        &:not(:disabled):not(.disabled) {
            &:active,
            &.active {
                box-shadow: box-shadow(var(--hyper-color-#{$color}-rgb));
            }

            &:hover {
                background-color: var(--hyper-color-#{$color}-tint);
            }

            &:focus {
                background-color: var(--hyper-color-#{$color}-shade);
            }
        }

        &.hyper-btn-outline,
        &.hyper-btn-dashed {
            color: var(--hyper-color-#{$color});
            border-color: var(--hyper-color-#{$color});

            &:not(:disabled):not(.disabled) {
                &:hover {
                    color: var(--hyper-color-#{$color}-contrast);
                    background-color: var(--hyper-color-#{$color});
                }

                &:focus {
                    color: var(--hyper-color-#{$color}-contrast);
                }
            }
        }
    }
}

.hyper-btn-group {
    display: inline-flex;

    .hyper-btn:not(.hyper-btn-sharp) {
        border-radius: 0;

        &:first-child {
            border-radius: var(--hyper-btn-border-radius) 0 0 var(--hyper-btn-border-radius);
        }

        &:last-child {
            border-radius: 0 var(--hyper-btn-border-radius) var(--hyper-btn-border-radius) 0;
        }
    }
}
