.hyper-ripple {
    position: absolute;
    height: 200vmax;
    width: 200vmax;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    transform: scale3d(0, 0, 0);

    &.active {
        animation: ripple 3s ease-out forwards;
    }
}

@keyframes ripple {
    from {
        transform: scale3d(0, 0, 1);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}
